<% provide(:title, 'Sign up') %>

<div class="container">
	<form class="form_signin">
		<h5>Create your account</h5>
  		<%= form_for @user do |f| %>
  			<%= render 'fields', f: f %>
      		<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    	<% end %>
    </form>
</div>