<div class="center hero-unit">
	<h1>todo: finish this website</h1>

	<h2>
		Keep track of your shit with #todo
	</h2>

	<%= link_to "Create an Account", signup_path, class: "btn btn-large btn-primary", id: "sign_up"%>
</div>
